In [11]:
# Imported pandas for analysing the dataset
import pandas as pd
import nltk
import re
import string

In [2]:
# Working on Google Colab, Hence dataset mounted to Personal Google drive
G_DRIVE = 1

In [4]:
if G_DRIVE == 1:
  df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/tweet_emotions.csv')
else:
  df = pd.read_csv('twitter_dataset.csv')

In [5]:
df.head() # Checking first few values to see if loading of dataset is ok

     tweet_id   sentiment                                            content
0  1956967341       empty  @tiffanylue i know  i was listenin to bad habi...
1  1956967666     sadness  Layin n bed with a headache  ughhhh...waitin o...
2  1956967696     sadness                Funeral ceremony...gloomy friday...
3  1956967789  enthusiasm               wants to hang out with friends SOON!
4  1956968416     neutral  @dannycastillo We want to trade with someone w...

TypeError: ignored

In [12]:
# Creating an array of the sentiment values, Note tweet_id is not relevent to us
# No preprocessing needs to be done on the sentiment values
sentiments = df["sentiment"].values

In [13]:
content = df["content"].values # Extracting the content column, Based on this we will be developing the model

In [15]:
content[1:10] # Example of unclean data

array(['Layin n bed with a headache  ughhhh...waitin on your call...',
       'Funeral ceremony...gloomy friday...',
       'wants to hang out with friends SOON!',
       '@dannycastillo We want to trade with someone who has Houston tickets, but no one will.',
       "Re-pinging @ghostridah14: why didn't you go to prom? BC my bf didn't like my friends",
       "I should be sleep, but im not! thinking about an old friend who I want. but he's married now. damn, &amp; he wants me 2! scandalous!",
       'Hmmm. http://www.djhero.com/ is down',
       '@charviray Charlene my love. I miss you',
       "@kelcouch I'm sorry  at least it's Friday?"], dtype=object)

## Data is not cleans

- We do not want the twitter usernames
- No need of the links in the code like djhero
- No need of hashtags also
- All should be in lowercase
- Tokenized and Lemmatized

we can use Regular Expressions [regex] and nltk toolkit to clean it

In [16]:
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...

True

The above snippet downloads Stopwords and WordNet and save it into path

In [ ]:
def clean_tweets():
  """
  The code is